<div class="content">
    <div id="camera" style="width:640px; height:480px;"></div>
  <div class="buttons">
    <div id="frozen" style="display:none">
      <button {{ action "use"}}>Använda bild</button>
      <button {{ action "retake"}}>Kasta bilden</button>
    </div>
    <div id="snap">
      <button {{ action "snap"}}>Ta bild</button>
    </div>
  </div>
</div>
<!-- -->
