.width--full {
  max-width: none;
  width: 100% !important;
}

.height-full {
  max-height: none;
  height: 100% !important;
}
.outline--none {
  outline: none;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}
.float--center {
  margin: 0 auto;
  text-align: center;
  display: block;
  text-align: -webkit-center;
}
.padding--medium {
  padding: 30px;
}
.margin--bottom--large {
  margin-bottom: 60px !important;
}
.reset-transform {
  -webkit-transform: initial !important;
  transform: initial !important;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

[contenteditable] {
  outline: none;
}
[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    font-weight: bold;
    color: #ccc;
}

.grey {
    background: #f6f6f6;
}