ul.mission-list {
  width: 100%;
  li {
    padding: 15px 0px 6px 10px;
    list-style-type: none;
    border-bottom: 1px lighten($charcoal-text, 65%) solid;

    &:hover {
      background-color: $secondary-green-light;
      border-bottom: 1px $secondary-green-light solid;

      i {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }
    
    .date {
      margin: 0;
    }

    a {
      color: black;

      .text {
        display: inline-block;

        &:first-child {
          flex: 0 0 auto;
          width: 100%;
          overflow: hidden;
        }
      }

      &:first-child {

      }

      i {
      }
    }

    .m--title {
      color: #848484;
    }

    .m--under {
      font-weight: 900;
      margin-right: 1rem;
    }
    
    i {
      margin-top: 3px;
    }
  }
  

  .m--tag {
    font-size: 12px;
    background: $primary-orange;
    color: $white;
    border-radius: 3px;
    padding: 4px 12px;
  }
}

.new-mission {
  tr {
    border-bottom: 1px lighten($charcoal-text, 65%) solid!important;

    i {
      margin-top: 11px;
    }

    &:hover {
      background-color: $secondary-green-light!important;
      border-bottom: 1px $secondary-green-light solid!important;

      i {
        -webkit-animation-name: hvr-icon-wobble-horizontal;
        animation-name: hvr-icon-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }
  }
}

.mission-updater {
  background-color: lighten($charcoal-text, 65%);
  border-radius: 3px;

  input,
  textarea {
    border-radius: 3px;
  }

  .new-update-button {
    background-color: $secondary-green-light;
    color: #404040;
    border-radius: 3px;
    outline: 0;
    display: block;
    border: none;
    padding: 15px;
    width: 48%;
    font-size: 14px;
    font-width: 700;

    &:hover {
      background-color: $secondary-green;
      color: $white;
    }
  }
}

.new-mission {
  p {
    margin-bottom: 0;
  }
}