//Colors
$primary-green: #66a268;
$secondary-green-dark: #388e3c;
$secondary-green-light: #c8e6c9;
$charcoal-text: #40433c;
$secondary-green: #ED9900;
$primary-orange: #ED9900;
$secondary-orange-dark: #d68c00;





// Common

$global-radius: 3px !default;
$global-rounded: 40px !default;
$global-circle: 100% !default;
$global-shadow: rgba(0,0,0,0.16) !default;
$global-border-color:#d6d6d6 !default;
$global-padding:1rem !default;
$global-margin:1rem !default;

// Grid

$total-columns: 12 !default;
$gutter: 1rem !default;

// Rem-base

$rem-base: 16px !default;

// Type

// Breakpoints

$breakpoints: (
  xxlarge  : ( 1600px ),
  xlarge  : ( 1300px ),
  large  : ( 1200px ),
  medium : ( 992px ),
  small  : ( 768px ),
  xsmall  : ( 480px )
);

$container-xs: 480px !default;
$container-sm: 640px !default;
$container-md: 940px !default;
$container-lg: 1080px !default;

// Prefixes

$component-prefix: null !default;
$layout-prefix: null !default;
$grid-prefix: null !default;
$base-prefix: null !default;
$utility-prefix: null !default;
$animation-prefix: null !default;

$icon-path: "../img/svgicons/" !default;
$icon-size: 24px !default;


// Animations

$animation-duration: 0.3s !default;
$animation-timing: ease-in !default;
