.camera-modal {
  display: inline-table;
  /*width: inherit !important;*/
}
.camera-overlay {
  .content {
    #camera,
    canvas,
    video {
      margin: 0 auto;
      display: block;
    }
    .buttons {
      display: block;
      text-align: center;
      button {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
.camera-wrapper {
  margin-bottom: 0;
  margin-top: 0rem;
  display: inline-block;
  width: 100%;
}
.text {
  display: inline-block;
  color: darkgrey;
  font-size: small;
}
.btn-camera {
  color: white;
  background: gainsboro;
  font-weight: 900;
  float: left;
  font-size: medium;
  height: 1em;
  text-align: center;
  width: 1em;
  padding: 0.4em;
  vertical-align: middle;
  display: inline-table;
  box-sizing: border-box;
  
}
@media screen and (min-width: 64em) {
  .btn-camera {
    font-size: 1.5em;
  }
}
.thumb {
  overflow: hidden;
  float: left;
  margin-right: 5px;
  span.delete {
    height: 30px;
    width: 30px;
    color: white;
    background-color: black;
    position: absolute;
    padding: 2px 11px;
    font-family: sans-serif;
  }
  img {
    height: 54px;
  }
}