/*SCSS VARIABLES*/
$grid-border: 1px solid #e4e4e4;
$no-border: 1px solid #ffffff;
/*STYLING*/
.columns-divided {
  .rows--2 {
    width: 50%;
    overflow-y: scroll;
  }
  .rows--3 {
    width: 33,33333%;
  }
  .columns {
    height: 100vh;
    padding: 0;
    transition: width 0.8s;
  }
  
  ul {
    margin-left: 0em !important;
  }
  /*
  .columns:first-child {
    border-right: $grid-border;
  }
  .columns:last-child {
    border-left: $grid-border;
  }
  */
}
.news {
  height: 120px;
  border-bottom: $grid-border;
  padding: 2em;
}
.information {
  width: 100%;
  height: 88vh;
  
  .block {
    width: 50%;
    height: 50%;
    padding: 10px;
    float: left;
    outline: none;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .title {
      font-size: 2em;
      font-weight: 800;
      color: $primary-green;
      font-family: 'Baloo Paaji', cursive;
    }
    ul {
      outline: none;
      li {
        font-size: large;
        color: $charcoal-text;
      }
    }
  }
  
  @media screen and (min-width: 64em) {
    .block {
      padding: 40px;
      .title {
        font-size: xx-large;
      }
    }
  }
  
  .block:nth-child(1),
  .block:nth-child(3) {
    border-right: 1px solid rgba(34,36,38,.15);
  }
  .block:nth-child(3),
  .block:nth-child(4) {
    border-top: 1px solid rgba(34,36,38,.15);
  }
  .block:focus {
    background-color: whitesmoke;
  }
}
.information-photo {
  //height: 60px;
  //width: 60px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: -webkit-xxx-large;
  overflow: hidden;
  padding-bottom: 10px;
  color: darkgrey;
}
//Hide border for "bank" page
.no-border {
  .columns-divided {
    .columns:first-child {
      border-right: $no-border;
    }
    .columns:last-child {
      border-left: $no-border;
    }
  }
}
ul.vertical--menu {
  margin: 0 !important;
  li {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    background-color: $secondary-green-light;
    margin-bottom: 0.5rem;
    color: $charcoal-text;
    border-radius: 4px;
    cursor: pointer;
      &:hover {
        background-color: $secondary-green;
        color: $white;
      }
  }
  &.selected {
    li {
      background-color: $primary-green;
      color: $white;
    }
  }
}
//FULLWIDTH HR
.fullwidth {
  max-width: 100%!important;
  border-bottom: $grid-border;
}
.knowledge {
  color: $secondary-orange-dark !important;
  li {
    color: $primary-orange !important;
  }
}