.menu-margin {
  padding-top: 5rem;
}
.mission-nav {
  color: #ffffff;
  list-style: none;
  background: none;
}
.account {
  color: #ffffff;
  list-style: none;
  background: none;
}
.top-bar {
  background-color: $primary-green;
  border-bottom: solid 8px $secondary-green-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  ul {
    background: none;
  }
  .last {
    background: white !important;
    color: #66a268 !important;
    border-radius: 3px;
  }
  .menu {
    background: none;
    margin-top: 10px;
    li {
      color: white;
      font-size: 1em;
    }
    img {
      height: 40px;
      padding-top: 5px;
      margin-top: -20px;
    }
    a {
      font-size: 1em;
      color: $white;
      background: transparent;
    }

      a:hover {
        color: #d9d9d9;
      }

    a.active {
      color: $white;
      width: 100%;
      height: 36px;
      border-radius: 5px;
      border: solid 2px $white;
      padding-bottom: 25px;
      .active {
        a {
          font-size: 1em;
          color: $white;
          background-color: transparent;
        }

          a:hover {
            color: #d9d9d9;
          }
        
        a.active {
          color: $white;
          width: 100%;
          height: 36px;
          border-radius: 5px;
          border: solid 2px $white;
          padding-bottom: 25px;
        }
        button {
          font-size: 1em;
          color: $white;
        }
        button:hover {}
        &.float--center {
          font-family: 'Baloo Paaji', cursive;
          font-size: x-large;
        }
      }
      .badge {
        padding-top: 2px;
        float: right;
      }
      .menu {
        li {
          list-style-type: none !important;
        }
      }
      #menu-dropit {
        ul {
          background-color: white;
          li {
            a,
            button {
              font-weight: normal;
              padding: 2px 4px;
              color: black;
            }
          }
        }
      }
    }
  }
  .sub-menu {
    background-color: $secondary-green-dark;
    margin: 0;
    padding: 0 0.8rem 0.5rem;
    display: flex;
    li {
      font-size: 0.9rem;
      margin: 0 0.5rem;
      list-style-type: none;
      float: left;
      a {
        color: white;
        font-weight: normal;
        &.active {
          background-color: white;
          color: $secondary-green-dark;
        }
      }
    }
  }
  .ui.steps {
    border-top: none !important;
    text-align: center;
    position: relative;
    border-radius: 0;
    .step.back::after {
      display: none !important;
    }
    .step {
      background-color: $primary-green;
      padding: 10px 2em;
      margin-top: 24px !important;
      border-bottom: 8px solid $secondary-green-dark;
      border-radius: 0;
      left: -1px;
      .title {
        font-weight: 400;
        font-size: 10px;
        font-family: sans-serif;
        color: $white;
        width: 100px;
      }
      &:first-child {
        border-radius: 0;
        margin-left: -1px;
      }
      .active {
        .title {
          color: $white !important;
        }
      }
      &::after {
        background-color: #fbfbfb;
      }
      &.next {
        background: $secondary-green-light;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -2px;
        .title {
          color: $charcoal-text;
        }
        &.ready {
          color: white;
          border-radius: 0;
          background-color: #6aa26a;
        }
      }
      &::after {
        position: absolute;
        z-index: 2;
        content: '';
        top: 50%;
        right: 0;
        border: solid;
        background-color: $primary-green;
        width: 2em;
        height: 2.2em;
        overflow: hidden;
        border-color: $secondary-green-dark;
        border-width: 0 5px 5px 0;
        -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
        transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
        -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        -ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
        transform: translateY(-50%) translateX(50%) rotate(-45deg);
      }
    }
  }
  //Styles for dropit
  .dropit-submenu {
    color: white;
    font-size: 1em;
    border-radius: 3px;
    margin: 27px -37px auto 0;
    background-color: $secondary-green-dark;
    li {
      list-style-type: none;
      background: $secondary-green-dark;
      padding: 20px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      &:hover {
        background: $secondary-green-light;
        color: dimgrey;
        a {
          color: $charcoal-text;
        }
      }
    }
  }
  .top-bar #menu-dropit ul li:first-child,
  .top-bar #menu-dropit2 ul li:first-child {
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 58px;
  }
  .top-bar #menu-dropit ul li:last-child,
  .top-bar #menu-dropit2 ul li:last-child {
    border-radius: 0 0 3px 3px;
    .top-bar #menu-dropit ul li:last-child {
      border-radius: 0 0 3px 3px;
    }
    .top-bar #menu-dropit2 ul li:last-child {
      padding-bottom: 20px;
      padding-top: 10px;
      border-radius: 0 0 3px 3px;
    }
    .top-bar #menu-dropit ul li a,
    .top-bar #menu-dropit ul li button,
    .top-bar #menu-dropit2 ul li a,
    .top-bar #menu-dropit2 ul li button {
      color: $white;
      margin: 20px;
    }
    .dropit-submenu li {
      background-color: $primary-green;
    }

      .dropit-submenu li:hover {
        background-color: $secondary-green-dark;
      }

    .top-bar #menu-dropit ul,
    .top-bar #menu-dropit2 ul {
      background-color: $primary-green;
    }
  }
}