<div class="pl1"><span class="badge">{{fa-icon "exclamation"}}</span> Du har 1 nytt uppdrag <p class="m0">Uppdraget <b>{{latest.name}}</b> finns nu tillgängligt! Lycka till med rapporten
    och uppgiften!</p></div><button class="close-button" aria-label="Close alert" type="button" {{ action "close"}}>
    <span aria-hidden="true">&times;</span>
  </button>