.ember-modal-dialog {
  border-radius: 0 !important;
  background-color: #fff;
  box-shadow: 0 0 0 #fff !important;
  padding: 0px !important;
  text-align: center;
  width: 51em;
  height: 31em;
  .medium-6.columns {
    padding: 0px !important;
  }
}
@media (max-width: 820px) {
  .ember-modal-dialog {
    width: 10px!important;
  }
}
.ember-modal-overlay.translucent {
  background-color: rgba(#D8D8D8, .20) !important;
}
