.select2.select2-container {
  width: 100% !important;
}

.select2-results__option {
  img {
    width: 20%;
    padding: 2px;
    margin-right: 10px;
  }
}
.avatar {
  .select2-container .select2-selection--single {
    padding: 0rem;
    height: auto !important;
    .select2-selection__rendered {
      padding: 0;
    }
  }
}

.ava {
  display: flex;
  img {
    float: left;
width: 100%;
padding: 0px 20px;
}
}
/*
.select2-results__option {
    background-color: white;
    float: left;
    width: 25%;
    padding: 12px 8px;
    text-align: center;
}
*/