<div class="pl1"><span class="badge mr1">{{fa-icon "exclamation"}}</span><span class="m0">Uppdraget <b>{{latest.name}}</b> finns nu tillgängligt! Lycka till med rapporten
    och uppgiften!</span></div><button class="close-button" aria-label="Close alert" type="button" {{ action "close"}}>
    <span aria-hidden="true">&times;</span>
  </button>