{{#link-to "team" model.id }}
<div class="m--content-wrapper animated fadeIn">
    {{#if model.image}}
      {{{asset-icon model.image "hide-for-small-only"}}}
    {{/if}}
    <div class="m--title pt1">{{model.name}}</div>
  <div class="m--cta-start pt1"><p>{{text}}</p>  {{fa-icon "angle-right faa-horizontal m--icon" pull="right"}}</div>
</div>
{{/link-to}}
