{{#link-to "rapport" model.id class=buttonClass}}
  <div class="flex text">
    <span class="m--title ml1 mr1 float-left">{{{model.name}}}</span>
    <div class="hide-for-small-only float-left">
        <span class="m--under">{{team model.team}}</span>
    </div>
    {{fa-icon "angle-right faa-horizontal m--icon mr2 ml1 float-right"}}
    <div class="text-right hide-for-small-only flex-right float-right">
    {{time-ago model=model}}
    </div>
  </div>
  {{/link-to}}