<div class="row fullwidth mt3 mr3 ml2">
    <div class="medium-12 large-12">
      <div class="columns large-1 avatar mb1 text-right p0">
        <select class="select-avatar" name=""></select>
      </div>
      <div class="columns large-11">
        <h1 class="jr--title-header pl1">{{model.name}}</h1>
      </div>
      
        <p class="pl1"></p>
    </div>
</div>