{{#if (or global.user (eq path "login"))}}
  {{#if isAuthenticated}}
    {{navigation-global}}
  {{/if}}
  <div class="menu-margin">
    {{liquid-outlet class="reset-transform"}}
  </div>

  {{ember-load-remover}}
{{else}}
  <div class="ember-load-indicator">
    <div class="mask-loading">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
  </div>
{{/if}}