<div class="row">
  {{mission-report-tag-filter}}
</div>
<div class="no-border">
  <div class="row">
    <ul class="mission-list mt2">
      {{#if model.length}}
      {{#each model as | node |}}
        {{#if node.id}}
          <li>{{mission-report model=node}}</li>
        {{/if}}
      {{/each}}
      {{else}}
        <h1 class="text-center p3">Det finns inga rapporter ännu</h1>
      {{/if}}
    </ul>
  </div>
</div>