<div class="row">
  {{mission-report-tag-filter}}
</div>
<div class="no-border">
  <div class="row">
    <ul class="mission-list mt2">
      {{#each model as | node |}}
        {{#if node.id}}
          <li>{{mission-report model=node}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>